.job {
  font-family: 'poppins-bold';
  text-align: center;
  font-size: 40px;
  color: $text-color;
  margin-bottom: 0;
}

.intro {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5%;
}

.avatar-homepage {
  display: block;
  margin: auto;
  width: 17%;
  margin-bottom: 100px;
}

.devices {
  display: block;
  margin: auto;
  width: 65%;
}

.container-my-description {
  background-color: $primary-color;
  padding: 9% 5% 15% 5%;
}

.container-my-description h2,
.container-my-description p {
  text-align: center;
  color: white;
}

.container-my-description h2 {
  font-size: 25px;
}

.container-my-description p {
  margin: auto;
  width: 68%;
  line-height: 2;
  padding-top: 1%;
  font-size: 18px;
  margin-bottom: 10%;
}

.section-skills {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: -10rem;
  background-color: #ffffff;
  border-radius: 20px;
  width: 95%;
  min-height: 750px;
  border: 0.5px solid #e6ecf8;
  margin-bottom: 50px;
}

.flex-skills {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: baseline;
}

.icon-skill {
  flex: 1;
  text-align: center;
  padding: 20px;
  border-right: 1px solid #e6ecf8;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  min-height: 750px;
}

.icon-skill:last-child {
  border-right: none;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70px;
  height: 70px;
  background-color: $secondary-color;
  border-radius: 50%;
  margin-top: 15%;
}

.container-image img {
  width: 60%;
}

.icon-skill h2 {
  font-family: 'poppins-bold';
  margin-top: 6%;
  margin-bottom: 8%;
  font-size: 20px;
  color: $text-color;
}

.language {
  margin-top: 15%;
  color: $text-color-light;
}

.tools p {
  margin-bottom: 2%;
  margin-top: 2%;
}

// Projets

.projects-title {
  text-align: center;
  font-size: 28px;
  margin-top: 10%;
}

.some-projects,
.form-intro {
  text-align: center;
  font-size: 17px;
}

.projects {
  display: flex;
}

// carousel

.carousels {
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
}

.carousel-container {
  display: flex;
  justify-content: center;
  margin-bottom: 7%;
  width: 43%;
  position: relative;
}

.carousel {
  position: relative;
  width: 100%;
  padding-bottom: 45%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0; /* Commence avec une opacité de 0 */
  transition: opacity 0.5s ease; /* Transition pour l'opacité */
}

.carousel-image.active {
  opacity: 1; /* Opacité de 1 pour l'image active */
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  display: none;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel:hover .carousel-btn {
  display: block;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

// Formulaire

.contact-me-form {
  margin: 5%;
}

.column-is-centered {
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 3%;
}

.column-is-half {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.textarea {
  width: 100%;
}

label {
  color: rgba(41, 51, 71, 0.65);
  margin-bottom: 10px;
}

input,
textarea {
  height: 50px;
  border-radius: 5px;
  border: 0.5px solid #e6ecf8;
  color: #141c3a;
  box-shadow: none;
  font-size: 20px;
  padding-left: 5%;
  background-color: var(--body-backgroundColor);
}

textarea {
  font-family: 'europa', sans-serif;
  resize: vertical;
  min-height: 250px;
  max-height: 500px;
  padding-top: 15px;
  line-height: 1.7;
  padding-left: 2.5%;
}

input:focus,
textarea:focus {
  outline: none;
  border: 0.5px solid #e6ecf8;
}

.submit-button {
  display: block;
  margin: auto;
  width: 30%;
  height: 50px;
  padding-top: 2px;
  border-radius: 30px;
  background-color: var(--body-backgroundColor);
  border: 2px solid #6e07f3;
  color: #6e07f3;
  font-size: 16px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-family: 'europa', sans-serif;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #6e07f3;
  color: white;
}

.button-position {
  margin-top: 50px;
}
