@font-face {
  font-family: "poppins-regular";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins-bold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

$primary-color: #6e07f3;
$secondary-color: #5be9b9;
$body-backgroundColor: #fffafa;
$text-color: #141c3a;
$text-color-light: #6e07f3;

.light-theme {
  --body-backgroundColor: #{$body-backgroundColor};
}

body {
  font-family: "poppins-regular", sans-serif;
  background-color: var(--body-backgroundColor);
  margin: 0;
}
